.card
  .card-header
    = link_to post.title, post
    /= post.title
  .card-body
    = post.content
  .card-footer
    = post.created_at
    = link_to 'Редактировать', edit_post_path(post)
    = link_to 'Удалить', post, method: :delete, data: { confirm: 'Are you sure?' }
%p